In [1]:
import pandas as pd
import geopandas
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)
import random
from scipy import stats
from scipy import integrate
import glob
import seaborn as sns
# %matplotlib notebook
%matplotlib inline
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

from fitter import Fitter, get_common_distributions, get_distributions

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [18]:
Wastewater_SlaughterAnimals_conc = 48E-6 #kg/L

SlaughterAnimals = {'Cattle':[628366+99561],
                   'Swine':[4010926+368267],
                   'Sheep':[84721+266946],
                   'Rabbit':[225377],
                   'Poultry':[238979246],}

Number_SlaughterAnimals_df = pd.DataFrame.from_dict(data=SlaughterAnimals, orient='index', columns=['Heads'])

Wastewater_SlaughterAnimals = {'Cattle':[1250],
                   'Swine':[400],
                   'Sheep':[120],
                   'Rabbit':[0],
                   'Poultry':[35],}

Wastewater_SlaughterAnimals_df = pd.DataFrame.from_dict(data=Wastewater_SlaughterAnimals, orient='index', columns=['Wastewater (L/animal)'])


SlaughterAnimals_df = pd.concat([Number_SlaughterAnimals_df,Wastewater_SlaughterAnimals_df],axis=1)
SlaughterAnimals_df['Wastewater (L/year)'] = SlaughterAnimals_df['Wastewater (L/animal)']*SlaughterAnimals_df['Heads']
SlaughterAnimals_df['P wastewater (kg/year)'] = SlaughterAnimals_df['Wastewater (L/year)']*Wastewater_SlaughterAnimals_conc
SlaughterAnimals_df.loc['Total'] = SlaughterAnimals_df.sum(axis=0)
SlaughterAnimals_df

               Heads  Wastewater (L/animal)  Wastewater (L/year)  P wastewater (kg/year)
Cattle      727927.0                 1250.0         9.099088e+08             43675.62000
Swine      4379193.0                  400.0         1.751677e+09             84080.50560
Sheep       351667.0                  120.0         4.220004e+07              2025.60192
Rabbit      225377.0                    0.0         0.000000e+00                 0.00000
Poultry  238979246.0                   35.0         8.364274e+09            401485.13328
Total    244663410.0                 1805.0         1.106806e+10            531266.86080

In [19]:
TotalP_SlaughterAnimals =(2222+621+42+904)*1000 #kg, except rabbits, not included due to lack of data

Fraction_P_Wastewater_SlaughterAnimals = SlaughterAnimals_df.loc['Total']['P wastewater (kg/year)']/TotalP_SlaughterAnimals
Fraction_P_Solid_SlaughterAnimals = 1-Fraction_P_Wastewater_SlaughterAnimals

P_SlaughterAnimals_dict = {'Fraction_P_Wastewater_SlaughterAnimals':Fraction_P_Wastewater_SlaughterAnimals,
                          'Fraction_P_Solid_SlaughterAnimals':Fraction_P_Solid_SlaughterAnimals}

P_SlaughterAnimals_dict

{'Fraction_P_Wastewater_SlaughterAnimals': 0.1402129482185273,
 'Fraction_P_Solid_SlaughterAnimals': 0.8597870517814727}